<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="cal_entry">
    <ul class="cal_entry--title">
      <li class="cal_entry--title__label"><%= form.label :内容, class: "field_title--label" %></li>
      <li class="cal_entry--title__val"><%= form.text_field :title, class: "field_title--input", placeholder: "6文字以内"%></li>
    </ul>

    <ul class="cal_entry--date">
      <li class="cal_entry--date__label"><%= form.label :対象日, class: "field_start--label" %></li>
      <li class="cal_entry--date__val"><%= form.date_field :start_date, class:"field_start--select" %></li>
    </ul>

    <div class="actions">
      <%= form.submit '送信', class: 'action_button' %>
    </div>

  </div>

<% end %>


