<p id="notice"><%= notice %></p>

<div class="wrap-edit">
  <h1>編集リスト</h1>
  
  <h2><i class="fas fa-edit"></i> 作成済リスト</h2>

  <table>
    <thead>
      <tr>
        <th class="th-date">日付</th>
        <th class="th-subj">内容</th>
        <th class="th-ope" colspan="2">操作</th>

      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td class="td-date"><%= event.start_date.strftime('%Y/%m/%d') %></td>        
          <td class="td-subj"><%= event.title %></td>
          <td class="td-ope"><%= link_to '編集', edit_event_path(event) %></td>
          <td class="td-ope"><%= link_to '削除', event, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>


<br>

<div class="nav_three">
  <i class="fas fa-caret-right"></i>
  <%= link_to '新規作成', new_event_path %> |
  <%= link_to 'トップ画面へ', root_path %>
</div>
